.profile-wrapper {
  max-width: 90%;
  margin: 0 auto;
  margin-top: 45px;
  padding: 32px;
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;
}

.profile-title {
  font-size: 28px;
  margin-bottom: 8px;
  margin-left: 123px;
}

.profile-text {
  font-size: 16px;
  margin-bottom: 24px;
  margin-left: 67px;
}

.profile-card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 32px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
}

.profile-card p {
  margin: 16px 0;
}

.profile-card input[type='text'],
.profile-card input[type='email'] {
  margin-left: 12px;
  padding: 8px 10px;
  font-size: 16px;
  width: 80%;
  max-width: 300px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.radio-group {
  display: flex;
  gap: 40px;
  margin: 16px 0;
  align-items: center;
}

.radio-group label {
  font-size: 16px;
}

.profile-button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.profile-button {
  padding: 10px 24px;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  min-width: 120px;
  transition: background-color 0.3s ease;
  margin: 0 10px; /* Space between buttons */
}

.profile-save-button {
  background-color: #81c784;
  margin-left: 75px;
}

.profile-save-button:hover {
  background-color: #66bb6a;
}

.profile-cancel-button {
  background-color: #e57373;
  margin-left: 16px;
}

.profile-cancel-button:hover {
  background-color: #ef5350;
}

.profile-edit-button {
  background-color: #f5990b;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 16px;
  margin-left: 136px;
  transition: background-color 0.3s;
}

.profile-edit-button:hover {
  background-color: #f5990b;
  opacity: 0.7;
}

.profile-message {
  margin-top: 16px;
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 12px;
  border-radius: 6px;
  max-width: 90%;
}

.profile-info-row {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
}

.profile-info-row p {
  flex: 1 1 30%;
  min-width: 220px;
}
