.header {
  background-color: #f5990b;
  padding: 16px;
  text-align: center;
  /* margin-top: 40px; */ /* remove this for sticky at top */
  color: white;
  font-size: 24px;
  font-weight: bold;

  position: sticky;
  top: 0;
  z-index: 1000;
}
